.DS_Store
.dart_tool/

.packages
.pub/

.idea/

packages/*/build/
packages/*/ios/.generated/
packages/*/ios/Flutter/Generated.xcconfig
packages/*/ios/Runner/GeneratedPluginRegistrant.*
.flutter-plugins
.flutter-plugins-dependencies
